li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid darkcyan;
}

.search-results li {
  background-color: darkcyan;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}

.search-results li:hover {
  background-color: paleturquoise;
}

.container {
  max-width: 1280px;
  display: flex;
  gap: 30px;
}

.container > * {
  width: 50%;
}

.feedbacks {
  padding-top: 15px;
}

.error-text {
  height: 20px;
  color: brown;
}
